.table {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 500;

  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

.table th {
  background-color: black;
  color: white;
}

.table td {
  padding: 8px;
  width: 100px;
  border: 1px solid black;
}

.table tr:nth-child(even) {
  background-color: rgba(125, 120, 121, 0.415);
}
